.table-container{
	max-width: 700px;
	margin:0 auto;
	>div{
		margin: 5px;
    margin-top: 67px;
	}
}
.actions{
	min-width: 115px;
	>button{
		margin-left: 10px;
	}
}
.scroll-x{
	overflow-x:scroll;
	padding-bottom: 10px;
}
.table-container-login{
	max-width: 400px;
	margin:0 auto;
}
.solid-block{
	padding: 5px 15px;
  background: #fdfdfd;
  -webkit-box-shadow: 0px 1px 10px 2px #e8e8e8;
  box-shadow: 0px 1px 3px 2px #b5b5b5;
  margin-top: 80px;
  position: relative;
}
.modal-dialog{
	.solid-block{
		margin-top: 0px;
		box-shadow: none;
	}
}
.msg-server{
	position: absolute;
	top: 4px;
	right: 50px;
	z-index: 6;
}
.form-search{
  position: fixed;
  top: 0;
  padding-top: 70px;
  z-index: 8;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
	padding-left: 10px;
	padding-right: 2px;
	background-color: white;
	box-shadow: 0px 0px 17px 0px #717171;
	>div{
		padding-right: 10px;
		position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

	}
}
.custom-scrollbar{
  &::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #f3f3f3;
	}
	&::-webkit-scrollbar
	{
		width: 12px;
		background-color: #fff;
	}

	&::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #ababab;
	}
}

tbody{
	tr{
		&:hover{
			cursor: pointer; 
		}
	}
}
.action-search{
	/*
	position: absolute;
  right: 5px;
  top: 5px;
  */
  position: fixed;
  right: 5px;
  top: 18px;
  z-index: 11;
}
.btn-action-search,.btn-clean-search{
	background: white;
	color: #212529;
    border: 1px solid #989292;
	margin-right: 5px;
}
.form-global-search{
	margin-top: 5px;
	margin-bottom: 5px;
}
hr{
	border-top: 1px solid #c5c5c5;
}
a.link-mode{
	color: #ffb910;
}
.input-group-text{
    background-color: #5187a9;
    color: white;
}
.currency{
	.input-group-text{
    background-color: #6778f9;
    color: white;
	}
}
.primes{
	.input-group-text{
    background-color: #ff5d5d;
    color: #fdfdfd;
	}
}
body.mode_night{
	.option_items_list{
		color: white;
	}
	.bg-head{
		&.rim{
			background:$bg-vehicular-quote-col-header-rim-night;
		}
		&.map{
			background:$bg-vehicular-quote-col-header-map-night;
		}
		&.pac{
			background:$bg-vehicular-quote-col-header-pac-night;
		}
	}
	table.vehicular_quote{
		thead{
			td{
				&:hover{
					background: $bg-vehicular-quote-col-night !important;
				}
			}
		}
	}
	.td_quote_sel{
		background:$bg-vehicular-quote-col-night;
	}
	
	.client_inactived{
		background: #3e1515 !important;
		td{
			color:white;
		}
	}
	.bootstrap-datetimepicker-widget{
		background:#052952;
		table{
			td{
				&:not(.active){
					color:white;
				}
				>span{
					&.month:hover,&.year:hover,&.decade:hover{
						color:black;
					}
				}
				&.old,&.new{
					color:#8a8686;
				}
			}
			th{
				&:not(.active){
					color:white;
				}
				&.next,&.prev{
					&:hover{
						color:black;
					}
				}
				&.picker-switch{
					&:hover{
						color:black;
					}
				}
			}
		}
	}
	.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
	    background: #3372b1;
				color:white;
	    cursor: pointer;
	}
	.input-group-text{
		background-color: #292207;
		color:#fdfdfd;
	}
	.currency{
		.input-group-text{
			background-color: #070a2f;
			color:#fdfdfd;
		}
	}
	.primes{
		.input-group-text{
			background-color: #290106;
			color:#fdfdfd;
		}
	}
	a.link-mode{
		color: #4affe0;
	}
	hr{
		border-top: 1px solid #fff;
	}
	.solid-block{
		background: black;
		transition: all 0.2s ease-in-out;
		td,label{
			color:white;
		}
		tbody{
			tr{
				&:hover{
					background: #2d2d2d;
				}
			}
		}
	}
	h1,h2,h3,h4,h5,h6{
		color:white;
	}
	.swal2-content{
		color:white;
	}
	.swal2-modal{
		background: black;
		border: 1px solid white;
	}
	.btn-light2{
	    background: $bg-night1;
	    color: white;
	}
	.view-format{
		p,legend,span,.custom-control-label{
			color:white;
		}
	}
	.modal-dialog{
		border:1px solid white;
		.modal-content{
			background: black;
			p,legend,span,label,.custom-control-label{
				color:white;
			}
			.ck-content *{
				color:black;
			}
			.ck-button__label{
				color:black;
			}
		}
		button{
			&.close{
				color:white;
				opacity: 1;
			}
		}
	}
	input{
		&.form-control{
			background: $bg-night-input;
    	color: white;
		}
	}
	select{
		&.custom-select{
			background: $bg-night-input;
    	color: white;
		}
	}
	nav{
		.page-item{
			cursor: pointer;
			&:not(.active){
				.page-link{
					background-color:$bg-night1;
					color:white;
				}
			}
			&.disabled{
				display: none;
				.page-link{
					background-color:black;
					color:#585858;
				}
			}
			&.active{
				.page-link{
					background-color:#007bff;
					color:white;
					border:1px solid white;
				}
			}
		}
	}
	.btn-action-search,.btn-clean-search{
		background-color:$bg-night1;
		color:white;
		border:1px solid white;
	}
	.form-search{ 
  	background-color: $bg-night1;
  	box-shadow: -5px 0px 17px 0px #000000;
	  legend,span,p,.custom-control-label{
	  	color:#dedede;
	  }
	}

	.custom-scrollbar{
	  &::-webkit-scrollbar-track
		{
			background-color: $bg-night-input;
		}
		&::-webkit-scrollbar
		{
			background-color: $bg-night-input;
		}

		&::-webkit-scrollbar-thumb
		{
			background-color: $bg-night2;
		}
	}
	.table:not(.sub-table-container){
		thead{
			td:not(:last-child){
				&:hover{
					background: $bg-order-header-night ;
				}
			}
			th:not(:last-child){
				&:hover{
					background: $bg-order-header-night ;
				}
			}
		}
	}
	.form_border_group{
		background: #11313a;
	}
}
.btn-light2{
	background: white;
	border:1px solid #989292;
	margin-bottom: 2px;
}
.btn-cedit{
	background-color: #b79f24;
    border: 1px solid #aba8a8;
    color:white;
    &:hover{
    	color:white;
    }
}
.btn-cadd{
	background-color: #1d9d9e;
    border: 1px solid #aba8a8;
    color:white;
    &:hover{
    	color:white;
    }
}
.btn-cdel{
	background-color: #69af4b;
    border: 1px solid #aba8a8;
    color:white;
    &:hover{
    	color:white;
    }
}
@media(max-width:700px ){
	.table-container{
		table{
			tr{
				>td{
					&:nth-child(3){
						display: none;
					}
				}
			}
		}
	}
}
.ck{
	&.ck-balloon-panel{
		z-index: 10000 !important;
	}
}
.parse_errors{
	text-align: left;
	padding-left: 5px;
	margin-left: 5px;
	label{
	}
}
.page-link{
	padding: 7px 8px !important;
}
.reg-code{
	font-size: 15px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes form_opacity_spin { 0% { opacity: 1; } 100% { opacity: 0.5; } }
@-webkit-keyframes form_opacity_spin { 0% { opacity: 1;} 100% { opacity: 0.5; } }
@keyframes form_opacity_spin { 0% { opacity: 1;} 100% { opacity: 0.5; } }
.spin{
	animation:spin 2s linear infinite;
}
.form_opacity{
	input{
		animation:form_opacity_spin 1s linear infinite;
	}
}
.ccd{
	color: #63adff;
  font-weight: bold;
  display: inline-block;
}
.ccnn{
	color: #ec9d1d;
  font-weight: bold;
  display: inline-block;
}
.table-max-width-scrolling{
	width:100%;
	overflow-x: scroll;
	max-height: 300px;
	overflow-y:scroll;
	margin-top: 10px;
	margin-bottom: 10px;
}
.custom-div-btn{
	display: inline-block;
	background: #116c9c;
	padding: 0px 7px;
	border-radius: 10%;
	cursor: pointer;
	color:white !important;
}
.custom-div-btn-checked{
	display: inline-block;
	background: #826800;
	padding: 0px 7px;
	border-radius: 10%;
	cursor: pointer;
	color:white !important;
}
.custom-div-btn-unchecked{
	display: inline-block;
	background: red;
	padding: 0px 7px;
	border-radius: 10%;
	cursor: pointer;
	color:white !important;
}
.form-search{
	input,legend,span,select,button{
		font-size: 13px;
	}
	min-width: 330px !important;
}
.form_border_group{
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #8a8a8a;
	border-radius: 5px;
	background:#d5d8ea;
}
.btn-cc-link{
	background-color:#035f46;
	border-color:#035f46;
	color:white;
	&:hover{
		color:white;
	}
}
.ul-list{

}


label.table-header{
	display: flex !important;
	&.ordered{
		@extend %fa-icon;
  	@extend .fas;
	  &.asc{
	  	&:before{
		  	content: fa-content($fa-var-sort-up);
		  	font-size: $sort-order-size;
		  	margin-right: $sort-order-margin-right;
		  }
	  }
	  &.desc{
	  	&:before{
		  	content: fa-content($fa-var-sort-down);
		  	font-size: $sort-order-size;
		  	margin-right: $sort-order-margin-right;
		  }
	  }
	}
	&.unordered{
		@extend %fa-icon;
  	@extend .fas;
	  &:before{
	  	content: fa-content($fa-var-sort);
	  	font-size: $sort-order-size;
	  	margin-right: $sort-order-margin-right;
	  }
	}
}
.sub-table-container{
	thead{
		@extend .noselect;
	}
}
.table:not(.sub-table-container){
	thead{
		@extend .noselect;
		td:not(:last-child){
			cursor: pointer;
			*{
				cursor: pointer;
			}
			&:hover{
				background: $bg-order-header ;
			}
		}
		th:not(:last-child){
			cursor: pointer;
			*{
				cursor: pointer;
			}
			&:hover{
				background: $bg-order-header ;
			}
		}
	}
}
.form-group2{
	margin-bottom: 5px;
	margin-top: 5px;
}
.view-format{
	padding-top: 20px;
}
.first_address{
	background-color:#11263a !important;
}
.text-size-sm{
	font-size: 13px;
}
.anim2{
	display: block;
	visibility: hidden;
	transition: all 0.5s ease-in-out;
	opacity:0;
	transform: scaleY(0);
	height:0;
	&.open{
		visibility: visible;
		transform: scaleY(1);
		height:initial;
		opacity: 1;
	}
}
.bg-transparent{
	background-color: transparent;
}
.col-body{
	position: relative;
}
.p-currency{
  position: absolute;
  bottom: 0px;
  right: 3px;
  color: #5395ab;
  font-weight: bold;
  font-size: 11px;
}
.p-has-payments{
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  border: 1px solid #8c8c8c;
	&.yes{
    background: #b94d14;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    vertical-align: middle;
	}
	&.no{
		background: red;
	}
}
.u-online{
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  border: 1px solid #8c8c8c;
	&.yes{
    background: green;
	}
	&.no{
		background: red;
	}
}
table.table{
	> tbody {
		> tr{
			>td{
				vertical-align:middle;
			}
		}
	}
}
.ul-vertical{
	padding-left: 10px;
	li{
		margin-bottom: 5px;
	}
}

.client_inactived{
	background: #ffb9b9 !important;
	td{
    color: #636363;
    font-style: italic;
	}
}
.td_quote_sel{
	background: $bg-vehicular-quote-col-light;
}


.fix-input-width{
	min-width: 220px;
	max-width: 240px;
}
table.vehicular_quote{
	thead{
		td{
			&:hover{
				background: $bg-vehicular-quote-col-light !important;
			}
		}
	}
}
.input_changed{
	background:#ad5606 !important;
	color:white;
	&:focus{
		color:white;
	}
}
.bg-head{
	&.rim{
		background:$bg-vehicular-quote-col-header-rim-light;
	}
	&.map{
		background:$bg-vehicular-quote-col-header-map-light;
	}
	&.pac{
		background:$bg-vehicular-quote-col-header-pac-light;
	}
}
.option_items_list{
	list-style-type: decimal-leading-zero !important;
}
.complete_selectds_options{
	list-style-type: none;
	padding-left: 10px;
	button{
		margin-left: 5px;
		margin-right: 5px;
	}
	label{
		min-width: 150px;
	}
	li{
  	padding: 5px 0px;
		&:hover{
			background: #0c2517;
		}
	}
}