@import url('https://fonts.googleapis.com/css?family=Signika+Negative&display=swap');

body,html{
	padding:0;
	margin:0;
}
*{
  font-family: 'Signika Negative', sans-serif;
}
body{
	&.mode_night{
		background: black;
	}
}
.swal2-icon.swal2-success{
	.swal2-success-ring{
		border:.25em solid rgb(165, 220, 134) !important;
	}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
