$bg-green1: #94bf1d;
$bg-opaque1: #636363;
$bg-menu:#05310c;
$bg-menu-link-mode:#193e0e;
$bg-menu-item-hover:#276316;
$bg-menu-item-active:#419c27;

$bg-night1:#14310c;
$bg-night2:#256115;
$bg-night-input:#051403;
$sort-order-size:20px;
$sort-order-margin-right:5px;
$fa-font-path:"../node_modules/@fortawesome/fontawesome-free/webfonts";

$bg-order-header:#d2ecff;
$bg-order-header-night:#001b1a;
$bg-vehicular-quote-col-light:#fbff8b;
$bg-vehicular-quote-col-night:#0d2b21;
$bg-vehicular-quote-col-header-rim-night:#3e0303;
$bg-vehicular-quote-col-header-rim-light:#f1adad;
$bg-vehicular-quote-col-header-map-night:#710012;
$bg-vehicular-quote-col-header-map-light:#ff798f;
$bg-vehicular-quote-col-header-pac-night:#00334e;
$bg-vehicular-quote-col-header-pac-light:#80c2ff;
