<template>
  <div class="about">
    <h1>Administración de aprendiendo español</h1>
  </div>
</template>
<script>
	import logo from '@/assets/logo.png'
	export default{
		data(){
			return {
				logo:logo,
			};
		},
		mounted(){
		},
	}
</script>
<style scoped lang=scss>
@import "@/assets/scss/_variables.scss";
	.about{
		position: absolute;
		left:0;
		top:0;
		display: grid;
   	grid-template-columns: 100vw;
   	grid-template-rows: 100vh;
   
   	background: $bg-green1;
    line-height: 1.5em;
	}
	h1{
		padding: 15px 30px;
    background: rgba(0,0,0,0.4);
    color: #fff;
   	width: 300px;
   	text-align: center;
   	justify-self: center;
   	align-self: center;
   	font-size: 22px;
   	text-transform: uppercase;
	}
	body.mode_night{
		.about{
			background: $bg-night1;
		}
	}
</style>
