<template>
	<div>
		<div class="table-container-login">
			<div class="solid-block">
				<h3>Iniciar sesión</h3>
				<div class="form">
			   <div>
			      <b-form-group 
			        label="Usuario" 
			      >
			        <b-form-input 
			          type="text"
			          v-model="form.usr"
			          required
			          name="username"
			          v-on:keyup.enter="login" 
			          placeholder="Usuario" />
			      </b-form-group>

			      <b-form-group   
			        label="Contraseña"  >
			        <b-form-input 
			          type="password"
			          v-model="form.pass"
			          required 
			          name="password"
			          v-on:keyup.enter="login" 
			          placeholder="Contraseña" />
			      </b-form-group> 
			      <div>
			        <label class="msg_server">
			        <font-awesome-icon v-if="prevent_multiple" icon="sync" :class="{spin:prevent_multiple}"></font-awesome-icon>	
			        {{msg_server}}
			      	</label>
			      </div>
			      <b-button variant="login" @click="login">Iniciar sesión</b-button> 
			    </div>
			  </div>
			</div>
		</div>
	</div>
</template>
<script>
	const server_path = process.env.VUE_APP_SERVER_API_URL+"/auth/login"
	export default{
		data(){
			return {
				msg_server:'',
				prevent_multiple:false,
				form:{
					usr:'',
					pass:'',
				}
			}
		},
		mounted(){
		},
		methods:{
			login(){
				if(this.prevent_multiple)return
				this.prevent_multiple = true
				let _headers = {}
				this.msg_server='Espere porfavor...'
				this.axios({
	        url:server_path,
	        method:'POST',
	        data:{
	          email: this.form.usr, 
	          password: this.form.pass, 
	          device_type: !!this.$device.mobile,
	        },
	        headers:_headers, 
	      }).then(
	        (response) => {
	        	this.prevent_multiple = false
	          if(this.$dev_mode)console.log(response)
	          if(response.status==200){
	            this.$cookies.set('token',response.data.access_token,'1d')
	            this.$cookies.set('token_type',response.data.token_type,'1d')
	            this.$cookies.set('user',response.data.user,'1d')
	            this.$cookies.set('role_id',response.data.role_id,'1d')
	            /*
	            if(
	            	this.axios.defaults && 
	            	this.axios.defaults.headers && 
	            	this.axios.defaults.headers.common &&
	            	'Authorization' in this.axios.defaults.headers.common
	            ){
	            	this.axios.defaults.headers.common['Authorization']
	            }
	            */
	            this.axios.defaults.headers.common['Authorization'] = `${response.data.token_type} ${response.data.access_token}`
	            if(this.redirect){
	            	let redirect_url = this.$cookies.get('redirect_url')
	            	if(redirect_url){
	            		this.$cookies.set('redirect_url','','-1d')
	            		window.location.assign(redirect_url)
	            	}else{
		            	this.$router.push({name:'about'})
		            	this.$store.commit('setUser',response.data)
	            	}
	            }else{
	            	this.$store.commit('hideModalLogin')
	            }
	          }
	          this.msg_server = 'Bienvenido'
	        }
	      ).catch((err) =>{
	    		this.prevent_multiple = false
	        if(this.$dev_mode){
	        	console.log(err)
		        console.log(err.response)
		        console.log(err.status)
	        }
	        if(err){
	          if(err.response && err.response.status==401){
	            this.msg_server = "Usuario o contraseña incorrecta"
	          }else{
	            this.msg_server = 'Ocurrió un problema con el sistema'
	          }
	        } else{
	          this.msg_server = 'Inténte de nuevo más tarde'
	        } 
	      }); 
	    },
		},
		watch:{

		},
		props:{
			redirect:{
				type:Boolean,
				default:true,
				required:false,
			},
		}
	}
</script>
<style lang="scss">
.form{
	>div{
		width: 100%;
		input{
			&[type=text]{
				width: 99%;	
				margin:0 auto;
			}
			&[type=password]{
				width: 99%;	
				margin:0 auto;
			}
			
		}
	}
	label{
		color:white;
		&.msg_server{
			color:inherit;
		}
	}
}
.btn.btn-login{
	color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}	

body.mode_night{
  .form{
  	legend{
  		color:white;
  	}
  	.btn.btn-login{
  		background: #14310c;
    	border-color: #2f6116;
    	color:#fff;
		  &:hover{
		  	color:#fff;
		  }
  	}
  }
}
</style>