<template>
	<div>
		<div class="table-container">
			<div class="solid-block">
				<b-modal
					:title="form_reg.is_new ? 'Nuevo':'Editar'"
					size=md
					ref="form_reg"
					id="form_reg"
					ok-title='Ok'
					cancel-title='Cancelar' 
					@ok="form_proc"
				>
					<b-form-group
			      label="Nombre"
			      label-for="form-verb-name"
			    >
			      <b-form-input 
			      	id="form-verb-name" 
			      	v-model=" form_reg.name " 
			      	type="text"
			      	></b-form-input>
			    </b-form-group>
					<b-form-group
			      label="Descripción"
			      label-for="form-verb-desc"
			    >
			     	<b-form-textarea
				      id="form-verb-desc"
				      v-model="form_reg.desc"
				      placeholder="Enter something..."
				      rows="3"
				      max-rows="6"
				    ></b-form-textarea>
			    </b-form-group>

				</b-modal>
				<b-button class="action-search" variant="action-search" @click='show_search=!show_search'>
					<font-awesome-icon icon="search"></font-awesome-icon>
				</b-button>
				<h3>Listado de palabras de animales</h3>
				<label class='msg-server' v-show='msg!="Listo"'>{{msg}}</label>
				<nav aria-label="table-pag" class="noselect">
          <ul class="pagination">
            <li class="page-item" :class="{disabled:current_page<=1}" @click="paginationChange(1)">
              <span class="page-link">
              	<font-awesome-icon icon="angle-double-left"></font-awesome-icon>
              </span>
            </li>
            <li class="page-item" :class="{disabled:current_page<=1}" @click="paginationChange(current_page-1)">
              <span class="page-link">
              	<font-awesome-icon icon="chevron-left"></font-awesome-icon>
              </span>
            </li>
            <li 
              class="page-item" 
              v-for="(page,index) in pag(current_page,total_pages)" 
              :class="{active:current_page==page}"
              @click="page!='...' ? paginationChange(page) : ''"
            >
              <a v-if="current_page!=page" class="page-link">{{page}}</a>
              <span v-else class="page-link">
                {{page}}
                <span class="sr-only">(current)</span>
              </span>
            </li> 
            <li 
              class="page-item" 
              :class="{disabled:current_page>=total_pages}"
               @click="paginationChange(current_page+1)"
          	>
           		<span class="page-link">
              	<font-awesome-icon icon="chevron-right"></font-awesome-icon>
              </span>
         		</li>
            <li 
              class="page-item"  
               @click="paginationChange(total_pages)"
              :class="{disabled:current_page>=total_pages}"
          	>
           		<span class="page-link">
              	<font-awesome-icon icon="angle-double-right"></font-awesome-icon>
              </span>
         		</li>
       		</ul>
       	</nav>
		    <div class="scroll-x custom-scrollbar">
					<table class="table table-hover table-striped table-bordered">
						<thead>
							<tr>
								<td>
									<b-button size=sm variant="light2" @click="getLists">
										<font-awesome-icon icon="sync" :class='{spin : wait.list }'></font-awesome-icon>
									</b-button>
								</td>
								<td @click="get_order_action('name')">
									<label 
										class="table-header" 
										:class="{ordered:order.by == 'name',unordered : order.by != 'name', asc:order.orientation, desc : !order.orientation }">
										Palabra
									</label>
								</td>
								<td>Creado</td>
								<td>Actualizado</td>
								<td>
									<b-button v-b-modal.form_reg @click="add" size=sm variant="light2">
										<font-awesome-icon icon="plus"></font-awesome-icon>
									</b-button>
								</td>
							</tr>
						</thead>
						<tbody v-if="list.length>0">
							<tr v-for="(item,index) in list">
								<td v-b-tooltip.hover.v-info :title="`ID: ${item.id}`">{{(current_page-1)*regs_x_page + index + 1}}</td>
								<td>{{item.name}}</td>
								<td>{{item.created_at}}</td>
								<td>{{item.updated_at}}</td>
								<td class="actions">
									<b-button size=sm variant="primary" :reg-id='item.id' v-b-modal.form_reg @click='edit(item)'>
										<font-awesome-icon icon="edit"></font-awesome-icon>
									</b-button>
									<b-button size=sm variant="danger" :reg-id='item.id' @click='del(item)'>
										<font-awesome-icon icon="times"></font-awesome-icon>
									</b-button>
								</td>
							</tr>
						</tbody>
						<tbody v-else>
							<tr>
								<td colspan="12">{{msg}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	
	import Vue from 'vue'
	import datePicker from 'vue-bootstrap-datetimepicker'
	Vue.use(datePicker)
	import {pag} from '@/assets/js/utils.js'
	const server_api_path 			= process.env.VUE_APP_SERVER_API_URL
	const server_path 					= `${server_api_path}/spanish-animals`
	import {parse_errors} from '@/assets/js/errors.js'

	export default{
		data(){
			return {
				msg:'Espere porfavor...',
				list:[
				],
				selected:{
					reg:{},
				},
				form_reg:{
					is_new:true,
					name:'',
					desc:'',
				},
				current_page:1,
				total_pages:1,
				total_records:1,
				regs_x_page:25,
				wait:{
					list:false,
				},
				search_form_enabled:false,
				show_search:false,
				order:{
					by:'',
					orientation:true,
					by_last:'',
					orientation_last:true,
				},
			}
		},
		mounted(){
			let app = this
			setTimeout(function(){
	      app.getLists()
      },this.$time_to_load_list)
      jQuery(window).keyup(function(evt){
        if(evt.key=="Escape"){
          app.show_search = false
        }
        if(evt.key=="b" && evt.ctrlKey){
          app.show_search = !app.show_search
        }
      })
		},
		methods:{
			del(reg){
				this.selected.reg = reg
				this.$swal({
					title: 'Seguro que desea eliminar este registro?',
					text: 'No se podrá recuperar',
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Eliminar',
					cancelButtonText: 'Cancelar'
				}).then((result) => {
					if (result.value) { 
						this.axios.delete(`${server_path}/${reg.id}`,{
							headers:{
								'Accept':'application/json',
								'Content-Type':'application/json',
							}
						})
						.then(
							(response) =>{
						  	if(this.$dev_mode)console.log(response)
						  	this.$swal('Eliminado','El registro fue eliminado','success' )
						    this.getLists()
							}
						).catch((err) =>{
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)

							this.$swal('Notificación','El registro no fue eliminado','error')
							if(err && err.response){
								if(err.response.status==401){
									this.$store.commit('showModalLogin')
								}
							}
						})
					}
				})
			},
			add(){
				this.form_reg.is_new = true
				this.form_reg.name = ''
				this.form_reg.desc = ''
			},
			edit(it){
				this.selected.reg = it
				this.form_reg.is_new = false
				this.form_reg.name = it.name
				this.form_reg.desc = it.desc
			},
			get_order_action(str){
      	if(this.wait.list)return
				this.order.by_last = this.order.by
				this.order.orientation_last = this.order.orientation
				this.order.by = str
				this.order.orientation = !this.order.orientation
				this.getLists()
			},
			pag(current,total){
				return pag(current,total);
			},
      paginationChange(page){
      	if(this.wait.list)return
      	if(this.current_page==this.total_pages && this.current_page==page)return
      	if(this.current_page==page && page==1)return
	      if(page>0 && page<=this.total_pages){
	        this.current_page = page
	        this.getLists()
	      }
      },
      cleanSearch(){
      	for(let i in this.search_form){
      		let obj = this.search_form[i]
      		if(typeof obj=='string'){
      			this.search_form[i] = ''
      		}
      		if(typeof obj == 'number'){
      			this.search_form[i] = null
      		}
      		if(obj && typeof obj == 'object'& i!='deletions'){
      			if('selected' in obj)obj.selected = null
      			if('value' in obj)obj.value = ''
      		}
      	}
      },
			getLists(){
				if(this.wait.list)return
				this.wait.list = true
				this.msg = 'Espere porfavor...';
				this.axios.get(server_path,{ 
					headers:{  
						'Accept':'application/json', 
	     			'Content-Type':'application/json',
					},
					params:{ 
						order_by:this.order.by,
						order_orientation:this.order.orientation,
						page:this.current_page,
					}, 
				}).then((response) =>{
				  console.log(response)
					this.wait.list = false
				  this.search_form_enabled = true
				  if(response && response.data && response.data.values){

				  	this.order.by = response.data.order_by
				  	this.order.orientation = response.data.order_orientation

						this.current_page = response.data.current_page
						this.total_pages = response.data.total_pages
						this.total_records = response.data.total_records
						this.regs_x_page = response.data.regs_x_page
				  	this.list = response.data.values
						this.msg = 'Listo'
				  }else{
				  	this.msg = 'Sin registros'
				  }
				}).catch((err) =>{
					this.wait.list = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					this.msg = 'Error al recuperar los registros';
					if(err && err.response){
						if(err.response.status==401){
							this.$store.commit('showModalLogin');
						}else if(err.response.status==403){
							this.search_form_enabled = false
							this.msg = this.$permission_message
							this.$swal(
	              {
	              	title:this.$permission_message,
	              	type:'warning',
	              }
	            );
						}
					}

					this.order.by = this.order.by_last
					this.order.orientation = this.order.orientation_last
				})
	    },
	    form_proc(){

				let _data = { 
					name: this.form_reg.name, 
					desc: this.form_reg.desc, 
		   	}
				if(this.$dev_mode)console.log(_data)
				this.axios({
	        url:(!this.form_reg.is_new ? `${server_path}/${this.selected.reg.id}`:server_path),
	        method:(!this.form_reg.is_new ? 'PUT':'POST'),
	        data:_data,
	        headers:{ 
      			'Content-Type':'application/json',
      			'Accept':'application/json',
	        }, 
		   	}).then(
	      	(response) =>{
	        	if(this.$dev_mode)console.log(response)
	        	let title = this.form_reg.is_new ? 'Nuevo Registro':'Editar Registro'
	        	let desc = this.form_reg.is_new ? 'El registro ha sido creado':'El registro ha sido editado'
	        	this.$swal(
	            	title,
	            	desc,
	            	'success'
	          )
	        	this.getLists()
	 			}).catch(
        	(err) =>{
        		if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
          	let pass = true
						if(err && err.response){
							if(err.response.status==401){
								pass = false
								this.$store.commit('showModalLogin')
							}
						}
						if(pass){
	          	let title = this.form_reg.is_new ? 'Nuevo Registro':'Editar Registro'
	          	let desc = this.form_reg.is_new ?  'El registro no ha sido creado':'El registro no ha sido editado'
	          	this.$swal(title,desc,'warning')
						}
		 		})
	    }
		},
		computed:{

		},
		filters:{

		},
		watch:{

		},
		props:{

		},
	}

</script>
<style lang=scss scoped>
	
</style>