<template>
	<div>
		<div class="table-container">
			<div class="solid-block">
				<b-button v-if=" search_form_enabled " class="action-search" variant="action-search" @click='show_search=!show_search'>
					<font-awesome-icon icon="search"></font-awesome-icon>
				</b-button>
				<h3>Listado de usuarios</h3>
				<label class='msg-server' v-show='msg!="Listo"'>{{msg}}</label>
				<nav aria-label="table-pag" class="noselect">
          <ul class="pagination">
            <li class="page-item" :class="{disabled:current_page<=1}" @click="paginationChange(1)">
              <span class="page-link">
              	<font-awesome-icon icon="angle-double-left"></font-awesome-icon>
              </span>
            </li>
            <li class="page-item" :class="{disabled:current_page<=1}" @click="paginationChange(current_page-1)">
              <span class="page-link">
              	<font-awesome-icon icon="chevron-left"></font-awesome-icon>
              </span>
            </li>
            <li 
              class="page-item" 
              v-for="(page,index) in pag(current_page,total_pages)" 
              :class="{active:current_page==page}"
              @click="page!='...' ? paginationChange(page) : ''"
            >
              <a v-if="current_page!=page" class="page-link">{{page}}</a>
              <span v-else class="page-link">
                {{page}}
                <span class="sr-only">(current)</span>
              </span>
            </li> 
            <li 
              class="page-item" 
              :class="{disabled:current_page>=total_pages}"
               @click="paginationChange(current_page+1)"
          	>
           		<span class="page-link">
              	<font-awesome-icon icon="chevron-right"></font-awesome-icon>
              </span>
         		</li>
            <li 
              class="page-item"  
               @click="paginationChange(total_pages)"
              :class="{disabled:current_page>=total_pages}"
          	>
           		<span class="page-link">
              	<font-awesome-icon icon="angle-double-right"></font-awesome-icon>
              </span>
         		</li>
       		</ul>
       	</nav>
		    <div class="scroll-x custom-scrollbar">
					<table class="table table-hover table-striped table-bordered">
						<thead>
							<tr>
								<td>
									<b-button size=sm variant="light2" @click="getLists">
										<font-awesome-icon icon="sync" :class='{spin : wait.list }'></font-awesome-icon>
									</b-button>
								</td>
								<td @click="get_order_action('name')"><label class="table-header" :class="{ordered:order.by == 'name',unordered : order.by != 'name', asc:order.orientation, desc : !order.orientation }">Nombre</label></td>
								<td @click="get_order_action('username')"><label class="table-header" :class="{ordered:order.by == 'username',unordered : order.by != 'username', asc:order.orientation, desc : !order.orientation }">Usuario</label></td>
								<td @click="get_order_action('user_role')"><label class="table-header" :class="{ordered:order.by == 'user_role',unordered : order.by != 'user_role', asc:order.orientation, desc : !order.orientation }">ROL</label></td>
								<td @click="get_order_action('active')"><label class="table-header" :class="{ordered:order.by == 'active',unordered : order.by != 'active', asc:order.orientation, desc : !order.orientation }">Activo</label></td>
								<td><label class="table-header">Permisos</label></td>
								<td @click="get_order_action('created_at')"><label class="table-header" :class="{ordered:order.by == 'created_at',unordered : order.by != 'created_at', asc:order.orientation, desc : !order.orientation }">Creado el</label></td>
								<td @click="get_order_action('updated_at')"><label class="table-header" :class="{ordered:order.by == 'updated_at',unordered : order.by != 'updated_at', asc:order.orientation, desc : !order.orientation }">Actualizado el</label></td>
								<td>
									<b-button v-if=" search_form_enabled " size=sm variant="light2" v-b-modal.modal_reg @click="add">
										<font-awesome-icon icon="plus"></font-awesome-icon>
									</b-button>
								</td>
							</tr>
						</thead>
						<tbody v-if="list.length>0">
							<tr v-for="(item,index) in list" :class="{user_inactived:!item.active}">
								<td v-b-modal.modal_reg @click='edit(item)' v-b-tooltip.hover.v-info.top="`ID: ${item.id}`">{{(current_page-1)*regs_x_page + index + 1}}</td>
								<td v-b-tooltip.hover.v-info  :title="`${item.email ? item.email : ''} ${item.phone_number ? `/ ${item.phone_number}` : ''}`">{{ `${item.lastname ? item.lastname : ''} ${item.mother_last_name ? item.mother_last_name : ''} ${item.firstname}` }}</td>
								<td>{{ item.username ? item.username : '' }}</td>
								<td>{{ item.user_role ? item.user_role.name : '' }}</td>
								<td>{{ item.active ? 'SI':'NO' }}</td>
								<td>
									<ol v-if='item.excel_transact || item.excel_vehicular_quote || item.emissions'>
										<li v-if='item.excel_transact'>Generar excel trámites </li>
										<li v-if='item.excel_vehicular_quote'>Generar excel vehicular cotizaciones </li>
										<li v-if='item.emissions'>Puede emitir </li>
									</ol>
								</td>
								<td>{{item.created_at | moment('timezone', timezone, 'DD/MM/YYYY HH:mm:ss a') }}</td>
								<td>{{item.updated_at | moment('timezone', timezone, 'DD/MM/YYYY HH:mm:ss a') }}</td>
								<td class="actions">
									<b-button variant="primary" size=sm v-b-modal.modal_reg :reg-id='item.id' @click='edit(item)'>
										<font-awesome-icon icon="edit"></font-awesome-icon>
									</b-button>
									<b-button variant="danger" size=sm :reg-id='item.id' @click='del(item)'>
										<font-awesome-icon icon="times"></font-awesome-icon>
									</b-button>
								</td>
							</tr>
						</tbody>
						<tbody v-else>
							<tr>
								<td colspan="9">{{msg}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<b-modal 
			ref='modal_reg'
			id="modal_reg" 
			:title="form_reg.is_new ? 'Nuevo usuario':'Editar usuario'"
			ok-title='Ok' 
			size=lg
			cancel-title='Cancelar' 
			@ok="form_proc"
		>
	 		<div>
	 			<b-container>
				  <b-row>
				  	<b-col lg=6>
				 			<b-form-group 
				      >
				      	<div slot="label">
				      		<span class="col-form-label">Usuario</span>&nbsp;
				      		<b-btn variant="primary" size="sm" @click="generate_username" v-b-tooltip.hover.v-info title='Generar usuario'>
				      			<font-awesome-icon icon="key"></font-awesome-icon>
				      		</b-btn>
				      	</div>
				        <b-form-input 
				          type="text"
				          v-model="form_reg.username" 
				          name="username"
				          required
				          placeholder="Usuario" 
				          autocomplete='off'
				          />
				      </b-form-group>
				 			<b-form-group 
				        :label="'Contraseña '+(form_reg.is_new ? '':'(opcional)')" 
				      >
				      	<div slot="label">
				      		<span class="col-form-label">{{'Contraseña '+(form_reg.is_new ? '':'(opcional)')}}</span>&nbsp;
				      		<b-btn variant="primary" size="sm" @click="generate_password" v-b-tooltip.hover.v-info title='Generar contraseña'>
				      			<font-awesome-icon icon="key"></font-awesome-icon>
				      		</b-btn>
				      	</div>
					 			<b-input-group>
							    <b-form-input 
				          	autocomplete='off' 
				          	:type="form_reg.show_password ? 'text':'password'" 
				          	name="saps_pass" 
				          	v-model="form_reg.password"></b-form-input>
							    <b-input-group-append>
							      <b-btn variant="primary" @click="form_reg.show_password=!form_reg.show_password" v-b-tooltip.hover.v-info title='Mostrar/ocultar contraseña'>
							      	<font-awesome-icon icon="eye" v-show="!form_reg.show_password"></font-awesome-icon>
							      	<font-awesome-icon icon="eye-slash" v-show="form_reg.show_password"></font-awesome-icon>
							      </b-btn>
							    </b-input-group-append>
							  </b-input-group>
				      </b-form-group>
				    </b-col>
				  	<b-col lg=6>
				 			<b-form-group 
				        label="Rol de usuario" 
				      >
				      	<div slot="label">
				      		<span class="col-form-label">Rol de usuario</span>&nbsp;
				      		<b-btn variant="primary" size="sm" @click="reload_selects('user_roles')">
				      			<font-awesome-icon icon="sync" :class='{spin : selects.user_roles.prevent_mult_reloads }'></font-awesome-icon>
				      		</b-btn>
				      	</div>
				        <b-form-select v-model="selects.user_roles.selected" :options="selects.user_roles.options"></b-form-select>
				      </b-form-group>
				      <b-row>
				      	<b-col>
						 			<b-form-group 
						        label="Estado" 
						      >
						      	<b-button :pressed.sync=" form_reg.active " :variant=" form_reg.active ? 'success':'danger' ">{{ form_reg.active ? 'ACTIVO' : 'INACTIVO' }}</b-button>
								  </b-form-group>
				      	</b-col>
				      	<b-col>
						 			<b-form-group 
						        label="Sexo" 
						      >
						      	<b-button :pressed.sync=" form_reg.sex " variant="info">{{ form_reg.sex ? 'MASCULINO' : 'FEMENINO' }}</b-button>
						      </b-form-group>
						    </b-col>
				      </b-row>
				    </b-col>
				  </b-row>
				  <hr />
				  <b-row>
				    <b-col lg="6">
				 			<b-form-group 
				        label="Nombre" 
				      >
				        <b-form-input 
				          type="text"
				          v-model="form_reg.firstname"
				          name="firstname"
				          required
				          placeholder="Nombres" />
				      </b-form-group>
				 			<b-form-group 
				        label="Apellido paterno" 
				      >
				        <b-form-input 
				          type="text"
				          v-model="form_reg.lastname"
				          name="lastname"
				          required
				          placeholder="Apellido paterno" />
				      </b-form-group>
				 			<b-form-group 
				        label="Apellido materno (opcional)" 
				      >
				        <b-form-input 
				          type="text"
				          v-model="form_reg.mother_last_name"
				          name="mother_last_name"
				          placeholder="Apellido materno" />
				      </b-form-group>
				 			<b-form-group 
				        label="Tipo de Documento (opcional)" 
				      >
				      	<div slot="label">
				      		<span class="col-form-label">Tipo de Documento (opcional)</span>&nbsp;
				      		<div class="custom-div-btn" @click="reload_selects('doc_types')">
				      			<font-awesome-icon icon="sync" :class='{spin : selects.doc_types.prevent_mult_reloads }'></font-awesome-icon>
				      		</div>&nbsp;
			    				<link-doc-types-clients-users custom_class="custom-div-btn"></link-doc-types-clients-users>
				      	</div>
				        <b-form-select v-model="selects.doc_types.selected" :options="selects.doc_types.options"></b-form-select>
				      </b-form-group>
				 			<b-form-group 
				        label="Documento (opcional)" 
				      >
				        <b-form-input 
				          type="text"
				          v-model="form_reg.document"
				          placeholder="Documento" />
				      </b-form-group>
				    </b-col>
				    <b-col lg="6">
				 			<b-form-group 
				        label="Teléfono (opcional)" 
				      >
				        <b-form-input 
				          type="text"
				          v-model="form_reg.phone_number"
				          required
				          placeholder="Teléfono" />
				      </b-form-group>
				 			<b-form-group 
				        label="Onomástico (opcional)" 
				        label-for="date-picker-onomastic"
				      >
				      	<div slot="label" @click.stop.prevent="">
				      		<span class="col-form-label">Onomástico (opcional)</span>&nbsp;
				      		<b-btn variant="danger" size="sm" @click=" form_reg.onomastic.value = '' ">
				      			<font-awesome-icon icon="times"></font-awesome-icon>
				      		</b-btn>&nbsp;
				      	</div>
				        <date-picker 
				        	id="date-picker-onomastic" 
				        	v-model="form_reg.onomastic.value" 
				        	:config="form_reg.onomastic.options"
				        	@dp-hide="onomastic_hide" 
				        	@dp-change="onomastic_change"></date-picker>
				      </b-form-group>
				 			<b-form-group 
				        label="Area (opcional)" 
				      >
				      	<div slot="label">
				      		<span class="col-form-label">Area (opcional)</span>&nbsp;
				      		<div class="custom-div-btn" @click="reload_selects('areas')">
				      			<font-awesome-icon icon="sync" :class='{spin : selects.areas.prevent_mult_reloads }'></font-awesome-icon>
				      		</div>&nbsp;
			    				<link-areas-users custom_class="custom-div-btn"></link-areas-users>
				      	</div>
				        <b-form-select v-model="selects.areas.selected" :options="selects.areas.options"></b-form-select>
				      </b-form-group>
				 			<b-form-group 
				        label="Est. civil (opcional)" 
				      >
				      	<div slot="label">
				      		<span class="col-form-label">Estado civil (opcional)</span>&nbsp;
				      		<div class="custom-div-btn" @click="reload_selects('civil_status')">
				      			<font-awesome-icon icon="sync" :class='{spin : selects.civil_status.prevent_mult_reloads }'></font-awesome-icon>
				      		</div>&nbsp;
			    				<link-civil-status custom_class="custom-div-btn"></link-civil-status>
				      	</div>
				        <b-form-select v-model="selects.civil_status.selected" :options="selects.civil_status.options"></b-form-select>
				      </b-form-group>
				 			<b-form-group 
				        label="Email corporativo (opcional)" 
				      >
				        <b-form-input 
				          type="text"
				          v-model="form_reg.email"
				          required
				          placeholder="Email corporativo" />
				      </b-form-group>
				    </b-col>
				  </b-row>
				  <hr />
				  <legend>Permisos</legend>
				  <b-row>
				  	<b-col>
				 			<b-form-group 
				        label="Excel trámites" 
				      >
				      	<b-button :pressed.sync=" form_reg.permissions.excel_transact " :variant=" form_reg.permissions.excel_transact ? 'success':'danger' ">{{ form_reg.permissions.excel_transact ? 'SI' : 'NO' }}</b-button>
					 			
				      </b-form-group>
				  	</b-col>
				  	<b-col>
				 			<b-form-group 
				        label="Excel Vehicular cotizaciones" 
				      >
				      	<b-button :pressed.sync=" form_reg.permissions.excel_vehicular_quote " :variant=" form_reg.permissions.excel_vehicular_quote ? 'success':'danger' ">{{ form_reg.permissions.excel_vehicular_quote ? 'SI' : 'NO' }}</b-button>
					 			
				      </b-form-group>
				  	</b-col>
				  	<b-col>
				 			<b-form-group 
				        label="Puede emitir?" 
				      >
					 			<b-button :pressed.sync=" form_reg.permissions.emissions " :variant=" form_reg.permissions.emissions ? 'success':'danger' ">{{ form_reg.permissions.emissions ? 'SI' : 'NO' }}</b-button>
					 			
				      </b-form-group>
				  	</b-col>
				  </b-row>
				  <hr />
		 			<b-form-group 
		        label="Firma en HTML" 
		      >
		      	<ckeditor :editor="editor" v-model="form_reg.html_signature" :config="editorConfig"></ckeditor>
		      </b-form-group>
		 			<b-form-group 
		        label="Dirección" 
		      >
		      	<b-form-textarea
				      v-model="form_reg.address"
				      placeholder="Dirección"
				      rows="3"
				      max-rows="6"
				    ></b-form-textarea>
		      </b-form-group>
				</b-container>
	 		</div>

	  </b-modal>

		<div v-if=" search_form_enabled " class="form-search" v-bind:class="{visible:show_search}">
			<div class="custom-scrollbar">
				<b-button class="close-search" variant="action-search" @click='show_search=!show_search'>
					<font-awesome-icon icon="times"></font-awesome-icon>
				</b-button>
				<hr />
				<div>
					<b-form-group :class="{form_opacity:wait.list}" 
					>
						<slot name="label">
							<span>Búsqueda {{search_form.show_more_inputs ? 'parcial':'global'}}</span>&nbsp;
							<b-button variant="action-search" @click="search_form.show_more_inputs=!search_form.show_more_inputs">
								<font-awesome-icon icon="search-plus" v-if="!search_form.show_more_inputs"></font-awesome-icon>
								<font-awesome-icon icon="search-minus" v-else></font-awesome-icon>
							</b-button>
						</slot>
						<b-form-input class="form-global-search" v-show="!search_form.show_more_inputs"
							type="text"
							v-model="search_form.global"
							v-on:keyup.enter="getLists" 
							placeholder="Búsqueda global" />
					</b-form-group>
				</div>
				<div v-show="search_form.show_more_inputs">
					<div>
						<b-form-group :class="{form_opacity:wait.list}" 
							label="Nombres / Empresa" 
						>
							<b-form-input 
								type="text"
								v-model="search_form.firstname"
								v-on:keyup.enter="getLists" 
								placeholder="Nombres / Empresa" />
						</b-form-group>
					</div>
					<div>
						<b-form-group :class="{form_opacity:wait.list}"
							label="Apellido paterno" 
						>
							<b-form-input 
								type="text"
								v-model="search_form.lastname"
								v-on:keyup.enter="getLists" 
								placeholder="Apellido paterno" />
						</b-form-group>
					</div>
					<div>
						<b-form-group :class="{form_opacity:wait.list}"
							label="Apellido materno" 
						>
							<b-form-input 
								type="text"
								v-model="search_form.mother_last_name"
								v-on:keyup.enter="getLists" 
								placeholder="Apellido materno" />
						</b-form-group>
					</div>
					<div>
						<b-form-group :class="{form_opacity:wait.list}"
							label="Documento" 
						>
							<b-form-input 
								type="text"
								v-model="search_form.document"
								v-on:keyup.enter="getLists" 
								placeholder="Documento" />
						</b-form-group>
					</div>
					<div>
						<b-form-group :class="{form_opacity:wait.list}"
							label="Username" 
						>
							<b-form-input 
								type="text"
								v-model="search_form.username"
								v-on:keyup.enter="getLists" 
								placeholder="Username" />
						</b-form-group>
					</div>
					<div>
						<b-form-group :class="{form_opacity:wait.list}"
							label="Teléfono" 
						>
							<b-form-input 
								type="text"
								v-model="search_form.phone_number"
								v-on:keyup.enter="getLists" 
								placeholder="Teléfono" />
						</b-form-group>
					</div>
					<div>
						<b-form-group :class="{form_opacity:wait.list}"
							label="Email" 
						>
							<b-form-input 
								type="text"
								v-model="search_form.email"
								v-on:keyup.enter="getLists" 
								placeholder="Email" />
						</b-form-group>
					</div>
					<div>
						<b-form-group :class="{form_opacity:wait.list}"
			        label="Activo" 
			      >
			        <b-form-select v-model=" search_form.active.selected" :options="search_form.active.options"></b-form-select>
			      </b-form-group>
					</div>
					<div>
						<b-form-group :class="{form_opacity:wait.list}"
			        label="Sexo" 
			      >
			        <b-form-select v-model=" search_form.sex.selected" :options="search_form.sex.options"></b-form-select>
			      </b-form-group>
					</div>
					<div>
						<b-form-group :class="{form_opacity:wait.list}"
			        label="Generar excel trámites" 
			      >
			        <b-form-select v-model=" search_form.excel_transact.selected" :options="search_form.excel_transact.options"></b-form-select>
			      </b-form-group>
					</div>
					<div>
						<b-form-group :class="{form_opacity:wait.list}"
			        label="Generarl excel vehicular cotizaciones" 
			      >
			        <b-form-select v-model=" search_form.excel_vehicular_quote.selected" :options="search_form.excel_vehicular_quote.options"></b-form-select>
			      </b-form-group>
					</div>
					<div>
						<b-form-group :class="{form_opacity:wait.list}"
			        label="Puede emitir?" 
			      >
			        <b-form-select v-model=" search_form.emissions.selected" :options="search_form.emissions.options"></b-form-select>
			      </b-form-group>
					</div>
					<div :class="{form_border_group:search_form.created_at.more}">
		      	<b-row>
		      		<b-col col>
				      	<div>
				      		<span class="col-form-label">{{`${!search_form.created_at.more ? 'Creado el':'Creado desde:'}`}}</span>&nbsp;
				      		<b-btn variant="light2" size="sm" @click=" search_form.created_at.value='' ">
				      			<font-awesome-icon icon="ban"></font-awesome-icon>
				      		</b-btn>
				      		<b-btn variant="light2" size="sm" @click=" search_form.created_at.more = !search_form.created_at.more ">
				      			<font-awesome-icon icon="plus" v-show="!search_form.created_at.more"></font-awesome-icon>
				      			<font-awesome-icon icon="minus" v-show="search_form.created_at.more"></font-awesome-icon>
				      		</b-btn>
				      	</div>
			        	<date-picker 
			        	v-model=" search_form.created_at.value " 
			        	:config="search_form.created_at.options"></date-picker>
		      		</b-col>
		      	</b-row>
		      	<b-row>
		      		<b-col v-show="search_form.created_at.more">
				      	<div>
				      		<span class="col-form-label">Creado hasta:</span>&nbsp;
				      		<b-btn variant="light2" size="sm" @click=" search_form.created_at2.value='' ">
				      			<font-awesome-icon icon="ban"></font-awesome-icon>
				      		</b-btn>
				      	</div>
			        	<date-picker 
			        	v-model=" search_form.created_at2.value " 
			        	:config="search_form.created_at2.options"></date-picker>
		      		</b-col>
		      	</b-row>
					</div>
					<div :class="{form_border_group:search_form.updated_at.more}">
		      	<b-row>
		      		<b-col col>
				      	<div>
				      		<span class="col-form-label">{{`${!search_form.updated_at.more ? 'Actualizado el':'Actualizado desde:'}`}}</span>&nbsp;
				      		<b-btn variant="light2" size="sm" @click=" search_form.updated_at.value='' ">
				      			<font-awesome-icon icon="ban"></font-awesome-icon>
				      		</b-btn>
				      		<b-btn variant="light2" size="sm" @click=" search_form.updated_at.more = !search_form.updated_at.more ">
				      			<font-awesome-icon icon="plus" v-show="!search_form.updated_at.more"></font-awesome-icon>
				      			<font-awesome-icon icon="minus" v-show="search_form.updated_at.more"></font-awesome-icon>
				      		</b-btn>
				      	</div>
			        	<date-picker 
			        	v-model=" search_form.updated_at.value " 
			        	:config="search_form.updated_at.options"></date-picker>
		      		</b-col>
		      	</b-row>
		      	<b-row>
		      		<b-col v-show="search_form.updated_at.more">
				      	<div>
				      		<span class="col-form-label">Actualizado hasta:</span>&nbsp;
				      		<b-btn variant="light2" size="sm" @click=" search_form.updated_at2.value='' ">
				      			<font-awesome-icon icon="ban"></font-awesome-icon>
				      		</b-btn>
				      	</div>
			        	<date-picker 
			        	v-model=" search_form.updated_at2.value " 
			        	:config="search_form.updated_at2.options"></date-picker>
		      		</b-col>
		      	</b-row>
					</div>
				</div>
				<div>
					<b-button variant="action-search" @click="getLists">
						Buscar
					</b-button>
					<b-button variant="clean-search" @click="cleanSearch">
						Limpiar
					</b-button>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import Vue from 'vue'
	import datePicker from 'vue-bootstrap-datetimepicker';
	Vue.use(datePicker);
	import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
	import {pag} from '@/assets/js/utils.js';
	let _server_path = process.env.VUE_APP_SERVER_API_URL+"/users"; 
	import {parse_errors} from '@/assets/js/errors.js'
	const password_generator = require('generate-password')
	import LinkAreasUsers from '@/components/LinkAreasUsers.vue'
	Vue.component('link-areas-users',LinkAreasUsers)
	import LinkCivilStatus from '@/components/LinkCivilStatus.vue'
	Vue.component('link-civil-status',LinkCivilStatus)
	export default{
		name:'abc',
		data(){
			return {
				msg:'Espere porfavor...',
				server_path:_server_path,
				search_form_enabled:false,
				form_reg:{
					permissions:{
						excel_transact:true,
						excel_vehicular_quote:true,
						emissions:true,
					},
					active:true,
					sex:true,
					firstname:'',
					lastname:'',
					mother_last_name:'',
					document:'',
					username:'',
					password:'',
					show_password:false,
					email:'',
					phone_number:'',
					address:'',
					onomastic:{
            value:'',
            options:{
              format: 'DD/MM/YYYY',
              useCurrent: true,
              defaultDate: '',
              icons: {
                time: 'fa fa-clock',
                date: 'fa fa-calendar',
                up: 'fa fa-arrow-up',
                down: 'fa fa-arrow-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-calendar-check',
                clear: 'fa fa-trash-alt',
                close: 'fa fa-times-circle'
              } 
            },     
					},
        	html_signature: '<p>Rich-text editor content.</p>',
					is_new:true,
				},
				list:[
				],
				selected:{
					reg:{},
				},
				selects:{
					areas:{
						prevent_mult_reloads: false,
						url:`${process.env.VUE_APP_SERVER_API_URL}/areas/to_options`,
						selected:null,
						options:[{value:null, text:'Seleccionar'}],
					},
					doc_types:{
						prevent_mult_reloads: false,
						url:`${process.env.VUE_APP_SERVER_API_URL}/doc-types/to_options`,
						selected:null,
						options:[{value:null, text:'Seleccionar'}],
					},
					civil_status:{
						prevent_mult_reloads: false,
						url:`${process.env.VUE_APP_SERVER_API_URL}/civil-status/to_options`,
						selected:null,
						options:[{value:null, text:'Seleccionar'}],
					},
					user_roles:{
						prevent_mult_reloads: false,
						url:`${process.env.VUE_APP_SERVER_API_URL}/user-roles/to_options`,
						selected:null,
						options:[{value:null, text:'Seleccionar'}],
					},
				},
				editor: ClassicEditor,
        editorConfig: {
            // The configuration of the rich-text editor.
        },
				current_page:1,
				total_pages:1,
				total_records:1,
				regs_x_page:25,
				wait:{
					list:false,
				},
				show_search:false,
				search_form:{
					global:'',
					firstname:'',
					lastname:'',
					mother_last_name:'',
					document:'',
					email:'',
					username:'',
					phone_number:'',
					show_more_inputs:false,
					created_at:{
            more:false,
            value:'',
            options:{
              format: 'DD/MM/YYYY',
              useCurrent: true,
              defaultDate: '',
              icons: {
                time: 'fa fa-clock',
                date: 'fa fa-calendar',
                up: 'fa fa-arrow-up',
                down: 'fa fa-arrow-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-calendar-check',
                clear: 'fa fa-trash-alt',
                close: 'fa fa-times-circle'
              } 
            },     
					},
					created_at2:{
            value:'',
            options:{
              format: 'DD/MM/YYYY',
              useCurrent: true,
              defaultDate: '',
              icons: {
                time: 'fa fa-clock',
                date: 'fa fa-calendar',
                up: 'fa fa-arrow-up',
                down: 'fa fa-arrow-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-calendar-check',
                clear: 'fa fa-trash-alt',
                close: 'fa fa-times-circle'
              } 
            },     
					},
					updated_at:{
            more:false,
            value:'',
            options:{
              format: 'DD/MM/YYYY',
              useCurrent: true,
              defaultDate: '',
              icons: {
                time: 'fa fa-clock',
                date: 'fa fa-calendar',
                up: 'fa fa-arrow-up',
                down: 'fa fa-arrow-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-calendar-check',
                clear: 'fa fa-trash-alt',
                close: 'fa fa-times-circle'
              } 
            },     
					},
					updated_at2:{
            value:'',
            options:{
              format: 'DD/MM/YYYY',
              useCurrent: true,
              defaultDate: '',
              icons: {
                time: 'fa fa-clock',
                date: 'fa fa-calendar',
                up: 'fa fa-arrow-up',
                down: 'fa fa-arrow-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-calendar-check',
                clear: 'fa fa-trash-alt',
                close: 'fa fa-times-circle'
              } 
            },     
					},
					active:{
						selected:null,
						options:[
							{value:null, text:'Seleccionar'},
							{value:true, text:'Activo'},
							{value:false, text:'Inactivo'},
						],
					},
					sex:{
						selected:null,
						options:[
							{value:null, text:'Seleccionar'},
							{value:true, text:'Masculino'},
							{value:false, text:'Femenino'},
						],
					},
					excel_vehicular_quote:{
						selected:null,
						options:[
							{value:null, text:'Seleccionar'},
							{value:true, text:'SI'},
							{value:false, text:'NO'},
						],
					},
					excel_transact:{
						selected:null,
						options:[
							{value:null, text:'Seleccionar'},
							{value:true, text:'SI'},
							{value:false, text:'NO'},
						],
					},
					emissions:{
						selected:null,
						options:[
							{value:null, text:'Seleccionar'},
							{value:true, text:'SI'},
							{value:false, text:'NO'},
						],
					},
				},
				order:{
					by:'',
					orientation:true,
					by_last:'',
					orientation_last:true,
				},
			};
		},
		mounted(){
			let app = this;
			setTimeout(function(){
				app.getLists();
      },this.$time_to_load_list);
      jQuery(window).keyup(function(evt){
        if(evt.key=="Escape"){
          app.show_search = false;
        }
        if(evt.key=="b" && evt.ctrlKey){
          app.show_search = !app.show_search;
        }
      });
      this.order.by = '--';
		},
		methods:{
			generate_password(){
				this.form_reg.show_password = true;
				this.form_reg.password = password_generator.generate({
				    length: 16,
				    numbers: true
				});
			},
			generate_username(){
				this.form_reg.username = password_generator.generate({
				    length: 16,
				    numbers: true
				});
			},
			get_order_action(str){
      	if(this.wait.list)return;
				this.order.by_last = this.order.by
				this.order.orientation_last = this.order.orientation
				this.order.by = str
				this.order.orientation = !this.order.orientation
				this.getLists()
			},
			pag(current,total){
				return pag(current,total);
			},
      paginationChange(page){
      	if(this.wait.list)return;
      	if(this.current_page==this.total_pages && this.current_page==page)return;
      	if(this.current_page==page && page==1)return;
	      if(page>0 && page<=this.total_pages){
	        this.current_page = page;
	        this.getLists();
	      }
      },
      cleanSearch(){
      	for(let i in this.search_form){
      		let obj = this.search_form[i];
      		if(typeof obj=='string'){
      			this.search_form[i] = '';
      		}
      		if(typeof obj == 'object'){
      			if('selected' in obj)obj.selected = null;
      			if('value' in obj)obj.value = '';
      		}
      	}
      },
			reload_selects(what){ 
				let _this = this;
				let _obj = _this.selects[what];
				if(_obj.prevent_mult_reloads)return;
				_obj.prevent_mult_reloads = true;
				this.axios.get(_this.selects[what].url,{ 
					headers:{  
						'Accept':'application/json', 
	     			'Content-Type':'application/json',
					},
					params:{ 
					}, 
				}).then(
				function(response){
					_obj.prevent_mult_reloads = false;
				  console.log(response);
				  if(response && response.data && response.data.values){
				  	_this.selects[what].options = response.data.values;
				  }else{
				  }
				}).catch(function(err){
					_obj.prevent_mult_reloads = false;
					console.log(err);
					console.log(err.response);
					console.log(err.status);
					if(err && err.response){
						if(err.response.status==401){
							_this.$store.commit('showModalLogin');
						}
					}
				}); 
			},
			getLists(){
      	if(this.wait.list)return;
      	this.wait.list = true;
				let _this = this;
				_this.msg = 'Espere porfavor...';
				this.axios.get(this.server_path,{ 
					headers:{  
						'Accept':'application/json', 
	     			'Content-Type':'application/json',
					},
					params:{ 
						order_by:_this.order.by,
						order_orientation:_this.order.orientation,
						find_by_global:!_this.search_form.show_more_inputs,
						global:_this.search_form.global,
						firstname:_this.search_form.firstname,
						lastname:_this.search_form.lastname,
						mother_last_name:_this.search_form.mother_last_name,
						document:_this.search_form.document,
						username:_this.search_form.username,
						phone_number:_this.search_form.phone_number,
						email:_this.search_form.email,
						active:_this.search_form.active.selected,
						sex:_this.search_form.sex.selected,
						page:_this.current_page,
						created_at:_this.search_form.created_at.value,
						created_at2:_this.search_form.created_at2.value,
						updated_at:_this.search_form.updated_at.value,
						updated_at2:_this.search_form.updated_at2.value,
					}, 
				}).then(
				function(response){
				  _this.search_form_enabled = true
				  console.log(response);
				  _this.wait.list = false;
				  if(response && response.data && response.data.values){

				  	_this.order.by = response.data.order_by
				  	_this.order.orientation = response.data.order_orientation

						_this.current_page = response.data.current_page
						_this.total_pages = response.data.total_pages
						_this.total_records = response.data.total_records
						_this.regs_x_page = response.data.regs_x_page

				  	_this.list = response.data.values;
				  	_this.selects.areas.options = response.data.areas;
				  	_this.selects.doc_types.options = response.data.doc_types;
				  	_this.selects.civil_status.options = response.data.civil_status;
				  	_this.selects.user_roles.options = response.data.user_roles;
						_this.msg = 'Listo';
				  }else{
				  	_this.msg = 'Sin registros';
				  }
				}).catch(function(err){
					_this.wait.list = false;
					console.log(err);console.log(err.response);console.log(err.status);
					_this.msg = 'Error al recuperar los registros';
					if(err && err.response){
						if(err.response.status==401){
							_this.$store.commit('showModalLogin');
						}else if(err.response.status==403){
							_this.search_form_enabled = false;
							_this.list = [];
							_this.msg = _this.$permission_message;
							_this.$swal(
	              {
	              	title:_this.$permission_message,
	              	type:'warning',
	              }
	            );
						}
					}

					_this.order.by = _this.order.by_last;
					_this.order.orientation = _this.order.orientation_last;

				}); 
	    },
			form_proc(modal_event){ 
				modal_event.preventDefault();
				let _this = this; 

				let _data = {}
		   	for(let idx in _this.form_reg){
		   		if(idx == 'onomastic')continue
		   		let reg = _this.form_reg[idx]
		   		if( typeof reg == 'string' || typeof reg == 'number' || typeof reg == 'boolean' ){
		   			_data[idx] = reg
		   		}
		   	}
		   	_data.onomastic = _this.form_reg.onomastic.value;
		   	_data.doc_type_id = _this.selects.doc_types.selected;
		   	_data.area_id = _this.selects.areas.selected;
		   	_data.civil_status_id = _this.selects.civil_status.selected;
		   	_data.user_role_id = _this.selects.user_roles.selected;

		   	_data.excel_transact = _this.form_reg.permissions.excel_transact;
		   	_data.excel_vehicular_quote = _this.form_reg.permissions.excel_vehicular_quote;
		   	_data.emissions = _this.form_reg.permissions.emissions;

				console.log("form_proc",_data);
				let id = _this.selected.reg.id;
				_this.axios({
	        url:(!_this.form_reg.is_new ? (_this.server_path+"/"+id):_this.server_path),
	        method:(!_this.form_reg.is_new ? 'PUT':'POST'),
	        data:_data,
	        headers:{ 
        			'Content-Type':'application/json',
	        }, 
		   	}).then(
	      	function(response){
	        	console.log(response); 
	        	let title = _this.form_reg.is_new ? 'Nuevo Registro':'Editar Registro';
	        	let desc = _this.form_reg.is_new ? 'El registro ha sido creado':'El registro ha sido editado';
	        	_this.$swal(
	            	title,
	            	desc,
	            	'success'
	          );
	        	_this.selected.reg = response.data.value;
	        	_this.form_reg.is_new=false;
	        	_this.getLists();
	 			}).catch(
        	function(err){
        		console.log(err);
        		console.log(err.response);
        		console.log(err.status);
          	let pass = true;
						if(err && err.response){
							if(err.response.status==401){
								pass = false;
								_this.$store.commit('showModalLogin');
							}
						}
						let info = null;
						if(err && err.response && err.response.data){
							info = parse_errors(err.response.data);
						}
						if(pass){
	          	let title = _this.form_reg.is_new ? 'Nuevo Registro':'Editar Registro';
	          	let desc = _this.form_reg.is_new ?  'El registro no ha sido creado':'El registro no ha sido editado';
	          	_this.$swal(
	              {
	              	title:title,
	              	html:(info ? info : desc),
	              	type:'warning',
	              }
	            );
						}
		 		});  
			},
			add(){
				this.form_reg.is_new=true
				this.form_reg.username = '';
				this.form_reg.password = '';
				this.form_reg.user_role_id = null;
				this.form_reg.active = true;
				this.form_reg.sex = true;

				this.form_reg.firstname = '';
				this.form_reg.lastname = '';
				this.form_reg.mother_last_name = '';
				this.form_reg.doc_type_id = null;
				this.form_reg.document = '';
				this.form_reg.phone_number = '';
				this.form_reg.onomastic.value = '';
				this.form_reg.area_id = null;
				this.form_reg.civil_status_id = null;
				this.form_reg.email = '';
				this.form_reg.permissions.excel_transact = false;
				this.form_reg.permissions.excel_vehicular_quote = false;
				this.form_reg.permissions.emissions = false;
			},
			edit(item){
				console.log("edit => ",item);
				this.selected.reg = item;
				for(let idx in item){
					if(idx == 'onomastic')continue
					let reg = item[idx]
					if( idx in this.form_reg ){
						let tmp_reg = this.form_reg[idx]
						if( typeof tmp_reg == 'string' || typeof tmp_reg == 'number' || typeof tmp_reg == 'boolean' ){
							this.form_reg[idx] = reg
						}
					} 
				}
				this.form_reg.onomastic.value = item.onomastic && /\d{4}-\d{2}-\d{2}/.test(item.onomastic) ? this.$moment(item.onomastic,'YYYY-MM-DD').format('DD/MM/YYYY') : ''; 
				this.form_reg.password = '';
				this.selects.user_roles.selected 		= typeof item.user_role_id == 'number' ? item.user_role_id : null;
				this.selects.areas.selected 					= typeof item.area_id == 'number' ? item.area_id : null;
				this.selects.doc_types.selected 		= typeof item.doc_type_id == 'number' ? item.doc_type_id : null;
				this.selects.civil_status.selected 	= typeof item.civil_status_id == 'number' ? item.civil_status_id : null;

				this.form_reg.is_new=false;
				this.$refs.modal_reg.show();
			},
			del(reg){
				this.selected.reg = reg;
				let _this = this;
				let id = reg.id;
				this.$swal({
					title: 'Seguro que desea eliminar este registro?',
					text: 'No se podrá recuperar',
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Eliminar',
					cancelButtonText: 'Cancelar'
				}).then((result) => {
					if (result.value) { 
						_this.axios.delete(_this.server_path+'/'+id,{
							headers:{
								'Accept':'application/json',
								'Content-Type':'application/json',
							}
						})
						.then(
							function(response){
							  	console.log(response);
							  	_this.$swal(
							      	'Eliminado',
							      	'El registro fue eliminado',
							      	'success'
							    );
							    _this.getLists();
							}
						).catch(function(err){
							console.log(err);
							console.log(err.response);
							console.log(err.status);

							_this.$swal(
							  'Notificación',
							  'El registro no fue eliminado',
							  'error'
							);
							if(err && err.response){
								if(err.response.status==401){
									_this.$store.commit('showModalLogin')
								}
							}
						}); 
					} else  {
					  _this.$swal(
					    'Cancelado',
					    'La eliminación fue cancelada',
					    'warning'
					  )
					}
				});
			},
			onomastic_hide(evt){

			},
			onomastic_change(evt){

			},
		},
		watch:{
		},
		computed:{
		},
		props:{

		},
		beforeDestroy() {
  	},
	}
</script>
<style lang="scss">
	.table-container{
		width:auto;
		max-width: initial;
		>*{
			font-size: 13px;
		}
	}
	.spin{
		animation:spin 2s linear infinite;
	}
	.user_inactived{
		background: #ffb9b9 !important;
		td{
	    color: #636363;
	    font-style: italic;
		}
	}
	body.mode_night{
		.user_inactived{
			background: #3e1515 !important;
			td{
				color:white;
			}
		}
	}
	@import "~vue-wysiwyg/dist/vueWysiwyg.css";
	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
</style>