<template>
	<div>
		<div class="table-container">
			<div class="solid-block">
				<h3>Tipos de documentos de Usuarios</h3>
				<label class='msg-server' v-show='msg!="Listo"'>{{msg}}</label>
				<table class="table table-hover">
					<thead>
						<tr>
							<td>
								<b-button variant="light2" @click="getLists">
									<font-awesome-icon icon="sync"></font-awesome-icon>
								</b-button>
							</td>
							<td>Nombre</td>
							<td>Creado el</td>
							<td>Actualizado el</td>
							<td>
								<b-button v-if=" search_form_enabled " variant="light2" v-b-modal.modal_reg @click="form_reg.is_new=true">
									<font-awesome-icon icon="plus"></font-awesome-icon>
								</b-button>
							</td>
						</tr>
					</thead>
					<tbody v-if="list.length>0">
						<tr v-for="(item,index) in list">
							<td>{{index+1}}</td>
							<td>{{item.name}}</td>
							<td>{{item.created_at}}</td>
							<td>{{item.updated_at}}</td>
							<td class="actions">
								<b-button variant="primary" v-b-modal.modal_reg :reg-id='item.id' @click='edit(item)'>
									<font-awesome-icon icon="edit"></font-awesome-icon>
								</b-button>
								<b-button variant="danger" :reg-id='item.id' @click='del(item)'>
									<font-awesome-icon icon="times"></font-awesome-icon>
								</b-button>
							</td>
						</tr>
					</tbody>
					<tbody v-else>
						<tr>
							<td colspan="5">{{msg}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<b-modal 
			ref='modal_reg'
			id="modal_reg" 
			:title="form_reg.is_new ? 'Nuevo':'Editar'"
			ok-title='Ok'
			cancel-title='Cancelar' 
			@ok="form_proc"
		>
			<div>
				<b-form-group 
					label="Nombre" 
				>
					<b-form-input 
						type="text"
						v-model="form_reg.name"
						required
						v-on:keyup.enter="form_proc" 
						placeholder="Nombre" />
				</b-form-group>
			</div>

		</b-modal>
	</div>
</template>
<script>
	let _server_path = process.env.VUE_APP_SERVER_API_URL+"/doc-type-users"; 
	export default{
		name:'abc',
		data(){
			return {
				msg:'Espere porfavor...',
				server_path:_server_path,
				search_form_enabled:false,
				form_reg:{
					name:'',
					is_new:true,
				},
				list:[
				],
				selected:{
					reg:{},
				},
			};
		},
		mounted(){
			let app = this;
			setTimeout(function(){
				app.getLists();
			},this.$time_to_load_list);
		},
		methods:{
			getLists(){
				let _this = this;
				_this.msg = 'Espere porfavor...';
				this.axios.get(this.server_path,{ 
					headers:{  
						'Accept':'application/json', 
						'Content-Type':'application/json',
					},
					params:{ 
					}, 
				}).then(
				function(response){
					_this.search_form_enabled = true
					console.log(response);
					if(response && response.data && response.data.values){
						_this.list = response.data.values;
						_this.msg = 'Listo';
					}else{
						_this.msg = 'Sin registros';
					}
				}).catch(function(err){
					console.log(err);
					console.log(err.response);
					console.log(err.status);
					_this.msg = 'Error al recuperar los registros';
					if(err && err.response){
						if(err.response.status==401){
							_this.$store.commit('showModalLogin');
						}else if(err.response.status==403){
							_this.search_form_enabled = false;
							_this.list = [];
							_this.msg = _this.$permission_message;
							_this.$swal(
	              {
	              	title:_this.$permission_message,
	              	type:'warning',
	              }
	            );
						}
					}
				}); 
			},
			form_proc(){ 
				let _this = this; 

				let _data = { 
					name: _this.form_reg.name, 
				};
				console.log(_data);
				let id = _this.selected.reg.id;
				_this.axios({
					url:(!_this.form_reg.is_new ? (_this.server_path+"/"+id):_this.server_path),
					method:(!_this.form_reg.is_new ? 'PUT':'POST'),
					data:_data,
					headers:{ 
							'Content-Type':'application/json',
					}, 
				}).then(
					function(response){
						console.log(response); 
						let title = _this.form_reg.is_new ? 'Nuevo Registro':'Editar Registro';
						let desc = _this.form_reg.is_new ? 'El registro ha sido creado':'El registro ha sido editado';
						_this.$swal(
								title,
								desc,
								'success'
						);
						_this.getLists();
				}).catch(
					function(err){
						console.log(err);
						console.log(err.response);
						console.log(err.status);
						let pass = true;
						if(err && err.response){
							if(err.response.status==401){
								pass = false;
								_this.$store.commit('showModalLogin');
							}
						}
						if(pass){
							let title = _this.form_reg.is_new ? 'Nuevo Registro':'Editar Registro';
							let desc = _this.form_reg.is_new ?  'El registro no ha sido creado':'El registro no ha sido editado';
							_this.$swal(
									title,
									desc,
									'warning'
							);
						}
				});  
			},
			edit(item){
				console.log("edit => ",item);
				this.selected.reg = item;
				this.form_reg.is_new=false;
				this.form_reg.name = item.name;
				this.$refs.modal_reg.show();
			},
			del(reg){
				this.selected.reg = reg;
				let _this = this;
				let id = reg.id;
				this.$swal({
					title: 'Seguro que desea eliminar este registro?',
					text: 'No se podrá recuperar',
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Eliminar',
					cancelButtonText: 'Cancelar'
				}).then((result) => {
					if (result.value) { 
						_this.axios.delete(_this.server_path+'/'+id,{
							headers:{
								'Accept':'application/json',
								'Content-Type':'application/json',
							}
						})
						.then(
							function(response){
									console.log(response);
									_this.$swal(
											'Eliminado',
											'El registro fue eliminado',
											'success'
									);
									_this.getLists();
							}
						).catch(function(err){
							console.log(err);
							console.log(err.response);
							console.log(err.status);

							_this.$swal(
								'Notificación',
								'El registro no fue eliminado',
								'error'
							);
							if(err && err.response){
								if(err.response.status==401){
									_this.$store.commit('showModalLogin')
								}
							}
						}); 
					} else  {
						_this.$swal(
							'Cancelado',
							'La eliminación fue cancelada',
							'warning'
						)
					}
				});
			},
		},
		watch:{

		},
		props:{

		}
	}
</script>
<style lang="scss">
	
</style>