<template>
	<div>

		<b-form-group 
      label="Tipo de Documento (opcional)" 
    	>
    	<div slot="label">
    		<span class="col-form-label">Tipo de Archivo</span>&nbsp;
    		<b-btn variant="primary" size="sm" @click="reload_selects('file_types')">
    			<font-awesome-icon icon="sync" :class='{spin : selects.file_types.prevent_mult_reloads }'></font-awesome-icon>
    		</b-btn>&nbsp;
    		<link-file-types-clients v-if="types == '' || types=='clients'"></link-file-types-clients>
    		<link-file-types-vehicular v-if="types == 'vehicular'"></link-file-types-vehicular>
    		<link-file-types-multiple v-if="types == 'multiple'"></link-file-types-multiple>
    	</div>
      <b-form-select v-model="selects.file_types.selected" :options="selects.file_types.options"></b-form-select>
    </b-form-group>
		<b-input-group>
			<b-input-group-text slot="prepend" v-if="!multiple">
				<font-awesome-icon :icon="getFormatIconText(selected_file.name ? selected_file.name : '')"></font-awesome-icon>
			</b-input-group-text>
	    <b-form-file 
			placeholder="Seleccione un archivo"
			v-model=" multiple ? selected_files : selected_file "
			:multiple="multiple" 
			:file-name-formatter="formatNames" 
			browse-text="Buscar archivo"></b-form-file>
	  </b-input-group>
		
		<div v-if="!multiple">
			&nbsp;
			<!--
			<span>{{ selected_file.name ? selected_file.name : '' }}</span>
			<legend><font-awesome-icon :icon="getFormatIconText(selected_file.name ? selected_file.name : '')"></font-awesome-icon></legend>
			-->
		</div>
		<table v-else class="sub-table-container table table-hover table-striped table-dark ">
			<thead></thead>
			<tbody v-if="selected_files.length>0">
				<tr v-for="(it,idx) in selected_files">
					<td>{{idx +1 }}</td>
					<td>
						<font-awesome-icon :icon="getFormatIconText(it.name)"></font-awesome-icon>
					</td>
					<td style="overflow-x: hidden;">{{it.name}}</td>
					<td>
						<b-btn variant="danger" size="sm">
							<font-awesome-icon icon="times"></font-awesome-icon>
						</b-btn>
					</td>
				</tr>
			</tbody>
			<tbody v-else>
				<tr>
					<td colspan="3">0 archivos</td>
				</tr>
			</tbody>
		</table>
		<b-btn variant="primary" @click="upload">
			<span>Subir</span>&nbsp;<font-awesome-icon icon="upload"></font-awesome-icon>
		</b-btn>
	</div>
</template>
<script>
	import Vue from 'vue'

	import axios from 'axios' 
	import VueAxios from 'vue-axios'

	import {parse_errors} from '@/assets/js/errors.js'
	Vue.use(VueAxios, axios)
	import LinkFileTypesClients from '@/components/LinkFileTypesClients.vue'
	Vue.component('link-file-types-clients',LinkFileTypesClients)
	import LinkFileTypesVehicular from '@/components/LinkFileTypesVehicular.vue'
	Vue.component('link-file-types-vehicular',LinkFileTypesVehicular)
	import LinkFileTypesMultiple from '@/components/LinkFileTypesMultiple.vue'
	Vue.component('link-file-types-multiple',LinkFileTypesMultiple)
	export default{
		data(){
			return {
				selected_file:{},
				selected_files:[],
				selects:{
					file_types:{
						prevent_mult_reloads: false,
						url:`${process.env.VUE_APP_SERVER_API_URL}/file-types/to_options`,
						selected:null,
						options:[{value:null, text:'Seleccionar'}],
					},
				}
			};
		},
		mounted(){
			if( this.types == 'vehicular' ){
				this.selects.file_types.url = `${process.env.VUE_APP_SERVER_API_URL}/file-types-vehiculars/to_options`
			}else if( this.types == 'multiple' ){
				this.selects.file_types.url = `${process.env.VUE_APP_SERVER_API_URL}/file-types-multiples/to_options`
			}
			this.reload_selects('file_types')
		},
		methods:{

			reload_selects(what,from){ 
				let _this = this;
				let _obj = _this.selects[what];
				if(_obj.prevent_mult_reloads)return;
				_obj.prevent_mult_reloads = true;
				this.axios.get(_this.selects[what].url,{ 
					headers:{  
						'Accept':'application/json', 
	     			'Content-Type':'application/json',
					},
					params:{ 
					}, 
				}).then(
				function(response){
					_obj.prevent_mult_reloads = false;
				  console.log(response);
				  if(response && response.data && response.data.values){
				  	if(!from){
				  		_this.selects[what].options = response.data.values;
				  	}else{
				  		if(from=='contact'){
				  			_this.selects_contact[what].options = response.data.values;
				  		}
				  	}
				  }else{
				  }
				}).catch(function(err){
					_obj.prevent_mult_reloads = false;
					console.log(err);console.log(err.response);console.log(err.status);
					if(err && err.response){
						if(err.response.status==401){
							_this.$store.commit('showModalLogin');
						}
					}
				}); 
			},
			getFormatIconText(str){
				let split = str.split(".")
				let ext = split[split.length-1]
				if(ext=="mp3" || ext=="wav" || ext=="ogg" || ext=="m4a"){
					return "music"
				}
				if(ext=="doc" || ext=="docx"){
					return "file-word"
				}
				if(ext=="ppt" || ext=="pptx"){
					return "file-powerpoint"
				}
				if(ext=="mp4" || ext=="vga" || ext=="vlc"){
					return "file-video"
				}
				if(ext=="pdf"){
					return "file-pdf"
				}
				if(ext=="jpg" || ext=="png" || ext=="gif" || ext=="jpeg"){
					return "image"
				}
				if(ext=="zip" || ext=="rar"){
					return "file-archive"
				}
				return "file-alt"
			},
			sync(){
				let dd = {}
				for(let i in this.value){
					let obj = this.value[i]
					if(typeof obj == 'string' || typeof obj == 'number' || typeof obj == 'boolean'){
						dd[i] = obj
					}
				}
				this.$emit('input',dd)
			},
			formatNames(files) {
        if (files.length === 1) {
          return files[0].name
        } else {
          return `${files.length} files selected`
        }
      },
      upload(){
      	let _this = this;
      	let formData = new FormData();
      	if(!this.multiple){
      		console.log("adding no-multiple file",this.selected_file)
		  		formData.append('file', this.selected_file)
      	}else{
      		console.log("adding multiple file",this.selected_files)
      		for(let i in this.selected_files){
      			let file = this.selected_files[i]
      			formData.append(`file[${i}]`,file)
      		}
      	}
      	for(let e in this.value.extras){
      		let ee = this.value.extras[e]
      		console.log(`ùpload form key=${e}, value=${ee}, typeof=${typeof ee}`)
      		if( typeof ee == 'string' || typeof ee == 'boolean' || typeof ee == 'number' ){
      			formData.append(e,ee)
      		}
      	}
      	formData.append('file_type_id',this.selects.file_types.selected)
      	this.axios.post( this.url,
			    formData,
			    {
			      headers: {
			          'Content-Type': 'multipart/form-data'
			      },
			      onUploadProgress: function( progressEvent ) {
			        this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
			      },
			    }
			  ).then(function(response){
				  if(_this.$dev_mode)console.log(response)
				  let msg = 'El archivo ha sido anexado a los archivos del cliente'
					if( _this.types == 'vehicular'){
						msg = 'El archivo ha sido anexado a los archivos de la póliza vehicular'
					}else if( _this.types == 'multiple' ){
						msg = 'El archivo ha sido anexado a los archivos de la póliza'
					}
				  _this.$swal(
	          {
	          	title:'Archivo registrado',
	          	html:msg,
	          	type:'success',
	          }
	        );
	        _this.$emit('uploaded',true);
			  })
			  .catch(function(err){
					console.log(err);console.log(err.response);console.log(err.status);
        	let pass = true;
					if(err && err.response){
						if(err.response.status==401){
							pass = false;
							_this.$store.commit('showModalLogin');
						}
					}
					let info = null;
					if(err && err.response && err.response.data){
						info = parse_errors(err.response.data);
					}
					if(pass){
						let desc = 'El archivo no ha sido anexado al cliente'
						if( _this.types == 'vehicular'){
							desc = 'El archivo no sido anexado a la póliza vehicular'
						}else if( _this.types == 'multiple' ){
							desc = 'El archivo no sido anexado a la póliza'
						}
						_this.$swal(
              {
              	title:'Registro de archivo',
              	html:(info ? info : desc),
              	type:'warning',
              }
            );
					}
			  });
      }
		},
		watch:{
			'selected_file':function(new_val,old_val){
				console.log("watching selected_file")
				console.log(new_val,old_val)
			},
			'selected_files':function(new_val,old_val){
				console.log("watching selected_files")
				console.log(new_val,old_val)
			},
			extras(new_val,old_val){
				console.log("new extra values => ",new_val)
			},
		},
		computed:{
			extras(){
				return this.value.extras
			},
		},
		props:{
			multiple:{
				type:Boolean,
				default:false
			},
			url:{
				type:String,
				default: '',
			},
			types:{
				type:String,
				default: '',
			},
			value:{
				type:Object,
				default:{
					extras:{},
				},
			},
		}
	}
</script>