<template>
	<a target='_blank' href="/areas-usuarios">
		<b-btn :class="custom_class" v-b-tooltip.hover.v-info title='Agregar' variant="cc-link" size=sm> 
			<font-awesome-icon icon="plus"></font-awesome-icon>  
		</b-btn>
	</a>
</template>
<script>
	export default {
		data(){
			return {

			};
		},
		methods:{

		},
		watch:{

		},
		props:{
			custom_class:{
				type:String,
				default:''
			}
		}
	}
</script>
<style lang=scss></style>