<template>
	<a target='_blank' href="/tipos-adjuntos-polizas-multiples">
		<b-btn v-b-tooltip.hover.v-info title='Agregar' variant="cc-link" size=sm> 
			<font-awesome-icon icon="plus"></font-awesome-icon>  
		</b-btn>
	</a>
</template>
<script>
	export default {
		data(){
			return {

			};
		},
		methods:{

		},
		watch:{

		},
		props:{

		}
	}
</script>
<style lang=scss></style>