<template>
  <div id="app">
    <notifications group="foo" />
    <div class="header">
      <div class="header1">
        <a href="/">
          <label>Admin</label>
        </a>
      </div>
      <div class="header2">
        <font-awesome-icon icon="bars" @click="show_menu=!show_menu"></font-awesome-icon>&nbsp;
        <label @click="show_menu=!show_menu">Bienvenido</label>&nbsp;
        <label username="">{{getUser}}</label>&nbsp;
        <a v-b-tooltip.hover.v-info title='IR a Usuarios' class="link-mode" href="/usuarios" target="_blank" v-if="current_role_id == 1">
          <font-awesome-icon icon="users"></font-awesome-icon>
        </a>
      </div>
    </div>
    <div class="left-side" :class="{visible:show_menu}">
      <div id="menu-left" class="noselect custom-scrollbar">
        <div class="close-sesion">
          <b-form-checkbox class="checkbox-night"
            v-model="mode_night"
            :value="true"
            :unchecked-value="false"
          >
            <font-awesome-icon v-if="mode_night" icon="moon"></font-awesome-icon>
            <font-awesome-icon v-else icon="sun"></font-awesome-icon>
          </b-form-checkbox>
          <b-button v-show="getUser!=''" variant="exit" @click="logout">Cerrar sesión</b-button>
        </div>
        <nav v-show="getUser!=''">
          <ul>
            <li v-for="(item1,index) in menu" v-bind:class="{'link-mode':item1.url!=''}">
              <router-link v-if="item1.url!=''" :to="item1.url">
                <div>
                  <font-awesome-icon v-if="typeof item1.icon!=='undefined'" :icon="item1.icon"></font-awesome-icon>
                  <font-awesome-icon v-else icon="link"></font-awesome-icon>
                  <span>{{item1.name}}</span>
                </div>
              </router-link>
              <a v-else>
                <div>
                  <font-awesome-icon v-if="typeof item1.icon!=='undefined'" :icon="item1.icon"></font-awesome-icon>
                  <span>{{item1.name}}</span>
                </div>
              </a>
              <ul v-if="item1.children && item1.children.length>0">
                <li v-for="(item2,index2) in item1.children" v-bind:class="{'link-mode':item2.url!=''}">
                  <router-link v-if="item2.url!=''" :to="item2.url">
                    <div>
                      <font-awesome-icon v-if="typeof item2.icon!=='undefined'" :icon="item2.icon"></font-awesome-icon>
                      <font-awesome-icon v-else icon="link"></font-awesome-icon>
                      <span>{{item2.name}}</span>
                    </div>
                  </router-link>
                  <a v-else>
                    <div>
                      <font-awesome-icon v-if="typeof item2.icon!=='undefined'" :icon="item2.icon"></font-awesome-icon>
                      <span>{{item2.name}}</span>
                    </div>
                  </a>
                  <ul v-if="item2.children && item2.children.length>0">
                    <li v-for="(item3,index3) in item2.children"  v-bind:class="{'link-mode':item3.url!=''}">
                      <router-link v-if="item3.url!=''" :to="item3.url">
                        <div>
                          <font-awesome-icon v-if="typeof item3.icon!=='undefined'" :icon="item3.icon"></font-awesome-icon>
                          <font-awesome-icon v-else icon="link"></font-awesome-icon>
                          <span>{{item3.name}}</span>
                        </div>
                      </router-link>
                      <a v-else>
                        <div>
                          <font-awesome-icon v-if="typeof item3.icon!=='undefined'" :icon="item3.icon"></font-awesome-icon>
                          <span>{{item3.name}}</span>
                        </div>
                      </a>
                      <ul v-if="item3.children && item3.children.length>0">
                        <li v-for="(item4,index4) in item3.children"  v-bind:class="{'link-mode':item4.url!=''}">
                          <router-link v-if="item4.url!=''" :to="item4.url">
                            <div>
                              <font-awesome-icon v-if="typeof item4.icon!=='undefined'" :icon="item4.icon"></font-awesome-icon>
                              <font-awesome-icon v-else icon="link"></font-awesome-icon>
                              <span>{{item4.name}}</span>
                            </div>
                          </router-link>
                          <a v-else>
                            <div>
                              <font-awesome-icon v-if="typeof item4.icon!=='undefined'" :icon="item4.icon"></font-awesome-icon>
                              <span>{{item4.name}}</span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="right-side">
      <router-view/>
    </div>
    <b-modal 
      v-model='showModalLogin' 
      hide-footer
      hide-header
      size='md'
    >
      <form-login v-bind:redirect='false'></form-login>

    </b-modal>
  </div>
</template>

<script>
  import Vue from 'vue'

  import VueCookies from 'vue-cookies'
  Vue.use(VueCookies)
  

  import VueSweetalert2 from 'vue-sweetalert2' 
  Vue.use(VueSweetalert2) 

  // set default config
  VueCookies.config('7d')

  import Login from '@/views/Login'
  Vue.component('form-login',Login)

  const jQuery = require('jquery')
  global.jQuery = jQuery
  const server_path = process.env.VUE_APP_SERVER_API_URL+"/auth/logout"
  const server_path_ping_pong = process.env.VUE_APP_SERVER_API_URL+"/ping-pong"

  export default{
    data(){
      return {
        prevent_multiple:false,
        show_menu:false,
        mode_night:false,
        menu:[
          {name:'Adivinar Palabras',url:'/guess-words',children:[]},
          {name:'Completar palabras',url:'/complete-phrases',children:[]},
        ],
        current_user:'',
        current_role_id:0,
      }
    },
    mounted(){
      let app = this
      if(this.$dev_mode)console.log("app.$device.mobile",app.$device.mobile)
      let _token = app.$cookies.get('token')
      let _token_type = app.$cookies.get('token_type')
      if(this.$dev_mode){
        console.log("checking token")
        console.log("token => ",_token)
      }
      console.log(app.$router.currentRoute)
      if(app.$router.currentRoute.path!='/login'){
        if(!_token){
          app.$cookies.set('redirect_url',window.location.href)
          app.$router.push({name:'Login'})
        }
      }
      let _user = app.$cookies.get('user')
      let _role_id = app.$cookies.get('role_id')
      app.current_user = _user ? _user : ''
      app.current_role_id = _role_id ? _role_id : ''
      jQuery(window).keyup(function(evt){
        if(evt.key=="Escape" || evt.keyCode==27){
          if(
            jQuery('body div.form-search.visible').length==0 && 
            !jQuery('body').hasClass('modal-open') 
          ){
            evt.preventDefault()
            app.show_menu = !app.show_menu
          }
        }
      });
      app.mode_night = this.$cookies.get('mode_night')==1
      setInterval(function(){
        app.mode_night = app.$cookies.get('mode_night')==1
        app.axios.defaults.headers.common['Authorization'] = `${app.$cookies.get('token_type')} ${app.$cookies.get('token')}`
      },400)
      jQuery(".right-side").click(function(evt){
        app.show_menu = false
      })
      jQuery("#menu-left ul>li:not(.link-mode)>a>div").click(function(evt){
        let _that = jQuery(this)
        _that.parent().parent().toggleClass("visible")
      })
    },
    methods:{
      logout(){
        let _this = this
        if(_this.prevent_multiple)return
        _this.prevent_multiple = true
        let _headers = {}
        _this.msg_server='Espere porfavor...'
        _this.axios({
          url:server_path,
          method:'GET',
          data:{
          },
          headers:_headers, 
        }).then(
          (response) => {
            this.prevent_multiple = false
            console.log(response)
            this.$router.push({name:'Login'})
            this.$cookies.set('token','','-1d')
            this.$cookies.set('user','','-1d')
          }
        ).catch((err) => {
          this.prevent_multiple = false
          if(this.$dev_mode){
            console.log(err)
            console.log(err.response)
            console.log(err.status)
          }
        })
      },
    },
    watch:{
      'mode_night':function(val,old){
        if(val==old)return
        if(val){
          this.$cookies.set('mode_night',1)
          jQuery('body').addClass("mode_night")
        }else{
          this.$cookies.set('mode_night',0)
          jQuery('body').removeClass("mode_night")
        }
      },
      '$route' (to, from){
        if(this.$dev_mode){
          console.log("change route")
          console.log("to",to);
          console.log("from",from)
        }
      },
    },
    computed:{
      showModalLogin:{
        get(){
          return this.$store.state.modals.login
        },
        set(value){
          this.$store.commit('setModalLoginState', value)
        },
      },
      getUser(){
        let value = this.$store.state.user.user
        this.current_user = value
        return value
      },
      getRoleId(){
        let value = this.$store.state.user.tole_id
        this.current_role_id = value
        return value
      }
    },
    props:{

    }
  }

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

</script>

<style lang="scss">

@import "@/assets/scss/_global.scss";
@import "@/assets/scss/_variables.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "@/assets/scss/_com.scss";   

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
#menu-left{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  text-align: left;
  background: $bg-menu;
  transition:all 0.3s ease-in-out;
  .btn{
    color:white;
  }
  ul{
    list-style-type: none;
    padding-left: 0px;
  }
  a{
    text-decoration: none;
    cursor: pointer;
    &[href]{
      >div{
        position: relative; 
      }
    }
  }
  >nav{
    padding-top: 10px;
    a{
      >div{
        width: 100%;
        position: relative;
        >svg{
          font-size: 14px;
          margin-right: 5px;
          position: relative;
          color:#55ff00;
        }
        >span{
          color:#dedede;
        }
      }
      &.router-link-active{
        >div{
          background-color:$bg-menu-item-active;
        }
      }
    }
    >ul{
      >li{
        >a{
          >div{
            padding-left: 10px;
          }
        }
        >ul{
          >li{
            >a{
              >div{
                padding-left: 45px;
              }
            }
            >ul{
              >li{
                >a{
                  >div{
                    padding-left: 75px;
                  }
                }
                >ul{
                  >li{
                    >a{
                      >div{
                        padding-left: 110px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      li{
        >ul{ 
        }
      }
    }
    li{
      position: relative;
      >a{
        >div{
          padding-right: 20px;
          padding-top: 5px;
          padding-bottom: 5px;
          transition: all 0.2s ease-in-out;
          &:hover{
            background: $bg-menu-item-hover;
          }
        }
      }
      &.link-mode{
        >a{
          >div{
            >span{
            }
          }
        }
      }
      &:not(.link-mode){
        >a{
          >div{
              background: $bg-menu-link-mode;
              border-top: 2px solid #14310c;
          }
        }
        >ul{
          display: none;
        }
        &.visible{
          >ul{
            display: block;
          }
          >a{
            >div{
              &:after{
                position: absolute;
                top: 9px;
                content: '';
                width: 9px;
                height: 9px;
                border-width: 3px 0 0 3px;
                border-style: solid;
                border-color: #bdeaa7;
                -webkit-transform: rotate(-135deg) translate(-63%, 47%);
                transform: rotate(-135deg) translate(-63%, 47%);
                transition: all 0.3s ease-out;
              }
            }
          }
        }
      }
      &:not(.link-mode){
        &:not(.visible){
          >a{
            >div{
              &:after{
                position: absolute;
                top: 9px;
                content: '';
                width: 9px;
                height: 9px;
                border-width: 3px 0 0 3px;
                border-style: solid;
                border-color: #bdeaa7;
                -webkit-transform: rotate(135deg) translate(0, -50%);
                transform: rotate(135deg) translate(0, -50%);
                transition: all 0.3s ease-out;
              }
            }
          }
        }
      }
    }
  }
}
.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.left-side{
  max-width: 370px;
  min-width: 320px;
  position: fixed;
  top: 0;
  left: -400px;
  height: 100vh;
  padding-top: 60px;
  z-index: 9;
  transition: all 0.2s ease-in-out;
  &.visible{
    left:0;
  }
}
.right-side{
  margin-top: 60px;
  ul{    
    list-style-type: none;
  }
}
.header1,.header2{
  width: 100%;
  position: relative;
  text-align: left;
  padding: 5px 0px;
  padding-left: 10px;
  height: 30px;
  vertical-align: middle;
  line-height: 20px;
  transition: all 0.2s ease-in-out;

}
.header1{
  background:$bg-green1;
  color: white;
  font-family: NexaLight;
  font-size: 18px;
  a{
    color:white;
    text-decoration: none;
  }
}
.header2{
  background:$bg-opaque1;
  color:white;
}
.close-sesion{
  position: relative;
  width: 100%;
  background: $bg-menu;
  padding: 6px 10px;
  text-align: right;
  border-bottom: 1px solid white;
  .checkbox-night{
    float:left;
    svg{
      color:white;
    }
  }
}
.btn-exit{
  background-color: #455a08;
  color: white;
  padding: 0px 4px;
  margin: 0px;
}
body.mode_night{
  .header1{
    background:$bg-night1;
  }
  .header2{
    background:$bg-night2;
  }
}
</style>
